body {
    background: #CCCCCC
}

#imagem1 {

    width: 3000px;
   height:99%;

}

h1{
   text-align: center
}

p {
    text-align: center;
}

#missao {
    font-size: 20px
}

 em strong {
    color: rgb(0, 81, 255);
}
