body {
    background: #CCCCCC
}

#imagem1 {
    width: 30%;
   height: 30px;
}

h1{
   text-align: center
}

p {
    text-align: center;
}

#missao {
    font-size: 20px
}

 em strong {
    color: rgb(0, 81, 255);
}
