body {
    background: #CCCCCC
}

#imagem1 {
<<<<<<< HEAD
    width: 0px;
   height: 50%;
=======
    width: 3000px;
   height:99%;
>>>>>>> 8e2ab88c7fda14f1a15f5beeaa1a5e3d5f8e3a28
}

h1{
   text-align: center
}

p {
    text-align: center;
}

#missao {
    font-size: 20px
}

 em strong {
    color: rgb(0, 81, 255);
}
